# direnv config for swiyu-issuer.
#
# On `cd` into this directory (or any subdirectory), direnv loads
# variables from .env if it exists. Copy .env.example to .env to
# get started.
#
# If you have not used direnv before:
#   1. Install direnv (https://direnv.net/).
#   2. Hook it into your shell.
#   3. After cloning, run `direnv allow` in this directory once to
#      authorise this .envrc to run.

dotenv_if_exists
