<p-toolbar styleClass="top-bar">
  <ng-template #start>
    <span class="brand">swiyu issuer</span>
  </ng-template>
  <ng-template #end>
    @if (me(); as user) {
      <span class="user-info">{{ user.id }} &#64; {{ user.tenant_name }}</span>
    }
    <p-button
      icon="pi pi-user"
      [rounded]="true"
      [text]="true"
      severity="secondary"
      ariaLabel="User menu"
      (onClick)="userMenuRef.toggle($event)"
    />
    <p-menu #userMenuRef [popup]="true" [model]="userMenu" />
  </ng-template>
</p-toolbar>
